.contactpage {
    height: 1148px;
    width: 1560px;
    background-color: #191d28;
    color: azure;

}

.navp1 {
    color: #3DC6C1;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bolder;
}